{% extends 'base.html' %}

{% block content %}
<section class="login-section">
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="errors" style="text-align: center;">
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="POST" id="login-trainer-form">
                {{ form.hidden_tag() }}
                
                <table class="login-form-table" style="margin: auto;">
                    {% for field in form if field.widget.input_type != 'hidden' %}
                    <tr>
                        <td>
                            {{ field.label }}
                        </td>
                        <td>
                            {{ field(placeholder=field.label.text)}}
                            <div class="errors">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div style="margin: 20px; text-align:center;">
                    <button class="form-submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}